[Unit]
Description=VPN-Bot
After=syslog.target network.target.

[Service]
#Type=forking
User=root

WorkingDirectory=/root/vpnbot/VPN_by_Prokin
ExecStart=/bin/bash run.sh.
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target