[Unit]
Description=VPN-Bot
After=syslog.target network.target.

[Service]
#Type=forking
User=root
Type=simple
WorkingDirectory=/root/vpn-bot
ExecStart=/root/vpn-bot/vpn-bot-develop
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
